body{
    background-color: blue;
    font-size: large;
    text-justify: auto;
}

h1{
    font-style: italic;
    border-color: aqua;

}

.boton{
    background-color: azure;
    text-decoration-color: black;
    border-radius: 5px;
    border-color: aqua;
    color: azure;

}